*
{
	margin: 0;
	padding: 0;
}
body
{
	background-color: gray;
}
#container
{
	width: 960px;
	margin: 0 auto;
}
header
{
	font-size: 70px;
	background-color: yellow;
	text-align: center;
}
nav
{
	background-color: red;
	font-size: 50px;
	text-align: center;
}
nav li
{
	display: inline;
	list-style-type: none;
	padding-right: 60px;
}
nav a
{
	text-decoration: none;
	color: white;
}
nav a:hover
{
	text-decoration: underline;
	color: blue;
}
nav a:active
{
	color: orange;
}
section
{
	background-color: blue;
	width: 760px;
	clear: right;
	float: left;
	height: 600px;
	padding: 10px;
	font-size: 22px;
}
aside
{
	background-color: orange;
	width: 160px;
	float: right;
	height: 600px;
	list-style-position: inside;
	padding: 10px;
}
footer
{
	background-color: purple;
	height: 70px;
	clear: right;
	padding: 10px;
}
table, th, td {
  border: 5px solid blue;
  border-collapse: collapse;
  padding: 5px;
}
th, td {
  background-color: #96D4D4;
}
h2
{
	text-decoration: underline;
}